html,
body,
.navbar,
.sidebar
  background-color: #F7F7F7

.sidebar
  &::-webkit-scrollbar
    display: none
  scrollbar-width: none
  -ms-overflow-style: none

.navbar
  .logo
    margin-right: 0 !important
  .links
    background-color: transparent !important;
